.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.card {
    box-shadow: 0 0 5px white;
    background-color: white;
    border-radius: 2px;
    width: 20%;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.card a {
    color: #222222;
}

.card:hover {
    box-shadow: 0 0 10px white;
}